.photos {
  margin: 118px auto 92px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .photos__item {
    width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .photos {
    gap: 12px;
  }
  .photos__item {
    width: 288px;
  }
}
